{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "backend",
      "image": "${ecr_repository_url}:latest",
      "essential": true,
      "memory": 1024,
      "portMappings": [
        { "hostPort": 80, "containerPort": 8080 }
      ]
    }
  ]
}
